<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devtech.ivn"
    android:versionCode="122"
    android:versionName="1.22">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activitys.MainActivity">

        </activity>
        <activity
            android:name=".Activitys.NewPlayer"
            android:label="@string/title_activity_new_player"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.ManutencaoAC"
            android:label="@string/title_activity_manutencao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Home"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.AgendaAc"
            android:label="@string/title_activity_agenda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.PergunteAc"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.AniversariantesAc"
            android:label="@string/title_activity_aniversariantes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.CadastraNiver"
            android:label="@string/title_activity_cadastra_niver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.DardosAc"
            android:label="@string/title_activity_dardos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.MusicaAc"
            android:label="@string/title_activity_musica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.Web"
            android:label="@string/title_activity_player_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.AvisoAc"
            android:label="@string/title_activity_aviso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.PlayerVideos"
            android:label="@string/title_activity_player_videos"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.VideoAc"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.PedidosAc"
            android:label="@string/title_activity_pedidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.CadastraPedido"
            android:label="@string/title_activity_cadastra_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.PopUp"
            android:theme="@style/AppTheme.CustomTheme" />

        <receiver android:name=".Util.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.devtech.ivn.Activitys.previous" />
                <action android:name="com.devtech.ivn.Activitys.pause" />
                <action android:name="com.devtech.ivn.Activitys.next" />
            </intent-filter>
        </receiver>

        <service android:name=".Util.MyFirebaseInstance">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>